doctype html
html
  head
    title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 eCommerce Warehouse
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/items/new') Add Item
        li: a(href='/items') View Current Items
  .wrapper
    h2 Inventory List
    table
        tr
        th Name
        th Dimensions
        th Weight
        th Color
        th Quantity
        th MSRP
        th Sale %
        th Cost
  
        each item in items
          tr(style='background-color:#{item.color}')
            td: a(href='/items/#{item._id}')= item.name
            td
              span l #{item.dimensions.l}in/
              span w #{item.dimensions.w}in/
              span h #{item.dimensions.h}in
            td #{item.weight}lbs
            td= item.quantity
            td $#{item.msrp.toFixed(2)}
            td #{item.percentOff}%
            td $#{item.cost().toFixed(2)}
