doctype html
html
  head
    title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 eCommerce Warehouse
    nav
      ul
        li: a(href='/') Home
        li: a(href='/about') About
        li: a(href='/faq') FAQ
        li: a(href='/items/new') Add Item
        li: a(href='/items') View Current Items
  .wrapper
    h2 Inventory List
    table
        tr
        th Name
        th Dimensions
        th Weight
        th Color
        th Quantity
        th MSRP
        th % Off
        th Item Cost
  
        each item in items
          tr
            td: a(href="/items/#{item._id}")= item.name
            td #{item.dimensions.l} x #{item.dimensions.w} x #{item.dimensions.h}
            td= item.weight
            td(style="background-color: #{item.color}")
            td= item.quantity
            td= item.msrp
            td= item.percentOff
            td= item.cost()
